@import "../../shared/variables.scss";

.company-banner{
  background-image: url(../assets/images/bg/company-bg.png);
  min-height:380px;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: center;
  h2{
    color:#fff;
  }
  .hero-heading{
    margin: 0; padding: 0; position: absolute; top: 50%; left: 0; right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
}

.company-container{
  h2{
    position: relative;

    &:after{
      content: "";
      display: block;
      height: 2px;
      width: 30px;
      position: absolute;
      left: 50%;
      margin-left: -11px;
      bottom: 0;
      background: #000;
      border-bottom:1px solid #000;
    }
  }

}

.teamList{
  text-align: center; padding-top: 20px;
  .slide_block{
    width: 145px; display: inline-block; vertical-align: top; padding: 20px;

    figure{
      border: 1px solid #a0a0a0; position: relative; overflow: hidden; border-radius:50%;
    }
    .about-pic{
      margin: 15px -18px 0;

      h4{
        color: #303030; font-weight: 600; font-size: 16px; margin: 0; padding: 0 0 3px;
      }
      span{
        font-size: 14px; display: block; line-height: 1;
      }
    }
  }
}



@media (max-width: 767px){

}
