@import "../../shared/variables.scss";

.hero-buyers{

  background-position: center; background-repeat: no-repeat; background-size: cover; text-align: center; color:#fff;

  i{
    width: 75px; height: 75px; margin: 0 auto; display: block; position: relative; margin-bottom: 10px;

    img{position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);
    }
  }
  p{
    font-size: 14px;  margin: 0 auto;
  }

  &.hub-banner{
    background-image: url(../assets/images/bg/wizehub-bg.jpg);
  }



}
.hub-container{

  h2{
    position: relative;

    &:after{
      content: "";
      display: block;
      height: 2px;
      width: 30px;
      position: absolute;
      left: 50%;
      margin-left: -11px;
      bottom: 0;
      background: #000;
      border-bottom:1px solid #000;
    }
  }
}

.app-card-container{
  position: relative;
  h6{
    min-height: 32px;
  }
  .sol-type {
    border-left: 3px solid #ccc;
    padding-left: 6px;
    font-weight: 500;
    font-size: 12px;

    &.blue{
      border-color: #3789DC;
    }
    &.yellow{
      border-color: #FBD100;
    }
    &.green{
      border-color: #2ABF9F;
    }
    &.pink{
      border-color: #e5569c;
    }

  }
  .textBlock{
    p{
      font-size: 12px;
      font-weight: 500;
    }
  }
  .pull-right{
    float: right !important;
  }
  .textBlock{
    height:147px;
    overflow: hidden;
  }


  .hover-content {
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;

    .btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color:#fff;
      border:1px solid #fff;
      &:hover{
        background:#fff;
        color:$gray;
        font-weight: 500;
      }
    }
  }
  &:hover{
    .hover-content {
      opacity: 1;
    }
  }
}
