@import "../../layout/variables";

.contanct-container {
  h2 {
    position: relative;

    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 30px;
      position: absolute;
      left: 50%;
      margin-left: -11px;
      bottom: 0;
      background: #000;
      border-bottom: 1px solid #000;
    }

  }

  .social-link {
    a {
      width: 16px;
      display: inline-block;
      height: 16px;
      opacity: 1;
      margin-right: 5px;

      &.fb-link {
        background: transparent url("../assets/images/logo/fb-icon.png") no-repeat;
        background-size: 100%;
        &:hover {
          background: transparent url("../assets/images/logo/fb-icon-hover.png") no-repeat;
          background-size: 100%;
        }
      }
      &.twitter-link {
        background: transparent url("../assets/images/logo/twitter-icon.png") no-repeat;
        background-size: 100%;
        &:hover {
          background: transparent url("../assets/images/logo/twitter-icon-hover.png") no-repeat;
          background-size: 100%;
        }
      }
      &.in-link {
        background: transparent url("../assets/images/logo/linkedin-icon.png") no-repeat;
        background-size: 100%;
        &:hover {
          background: transparent url("../assets/images/logo/linkedin-icon-hover.png") no-repeat;
          background-size: 100%;
        }
      }

    }
  }
}

.mapblock {
  height: 450px;
  background: #ddd;

  &:after {
    clear: both;
    content: "";
    display: block;
    overflow: hidden;
    width: 100%;
    height: 0;

  }
  .map {
    float: left;
    width: 50%;
    position: relative;

  }
  .address {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

  }
  .sebm-google-map-container {
    height: 450px;

  }
}

.article {
  &.gray {
    background: #f6f6f6;

  }
}

.contactField {
  text-align: left;
  padding-top: 50px;
  font-size: 14px;
  h3 {
    margin-bottom: 18px;

  }
}

.formfield {
  &.form-control {
    border-color: #fff;
    border-radius: 0;
    font-size: 13px;

  }
  textarea.form-control {
    height: 200px;
    resize: none;

  }
}

.q_social_icon_holder {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;

  a {
    display: block;
    padding: 3px;
    font-size: 17px;
    color: #bcbcbc;
    &:hover {
      color: #3789DC;
    }

  }
}

@media (max-width: 767px) {
  .mapblock {
    height: 280px;

    .sebm-google-map-container {
      height: 280px;

    }
  }
}
