/**************************************
Colors
**************************************/
/**************************************
Options
**************************************/
/**************************************
Sizes / Spacing
**************************************/
/**************************************
Grid
**************************************/
/**************************************
Typo
**************************************/
/**************************************
Table
**************************************/
/**************************************
Buttons
**************************************/
/**************************************
Forms
**************************************/
/**************************************
Dropdown
**************************************/
/**************************************
Z-index
**************************************/
/**************************************
Navbar
**************************************/
/**************************************
Navs
**************************************/
/**************************************
pagination
**************************************/
/**************************************
Jumbotron
**************************************/
/**************************************
State
**************************************/
/**************************************
Cards
**************************************/
/**************************************
Tooltip
**************************************/
/**************************************
Popover
**************************************/
/**************************************
Tags
**************************************/
/**************************************
Modal
**************************************/
/**************************************
Alert
**************************************/
/**************************************
Progress
**************************************/
/**************************************
List
**************************************/
/**************************************
Tuumbnail
**************************************/
.nav-main .nav-link {
  position: relative; }
  .nav-main .nav-link span.tm-txt {
    position: absolute;
    top: 6px;
    right: -10px; }

.social-links a {
  width: 24px;
  height: 24px;
  display: inline-block; }
  .social-links a.fb-icon {
    background: url("../assets/images/fb-icon.jpg") no-repeat;
    background-size: 100%; }
    .social-links a.fb-icon:hover {
      background: url("../assets/images/fb-icon-hover.jpg") no-repeat;
      background-size: 100%; }
  .social-links a.twitter-icon {
    background: url("../assets/images/twitter-icon.jpg") no-repeat;
    background-size: 100%; }
    .social-links a.twitter-icon:hover {
      background: url("../assets/images/twitter-icon-hover.jpg") no-repeat;
      background-size: 100%; }
  .social-links a.linkedin-icon {
    background: url("../assets/images/in-icon.jpg") no-repeat;
    background-size: 100%; }
    .social-links a.linkedin-icon:hover {
      background: url("../assets/images/in-icon-hover.jpg") no-repeat;
      background-size: 100%; }

@media (max-width: 991px) {
  .login-link {
    border: none;
    padding-left: 0 !important; }
  .nav-main .nav-item.mr-3 {
    margin: 0 !important; }
  .nav-main .nav-item .nav-link span.tm-txt {
    right: auto; }
  .nav-main .nav-item.active .nav-link {
    background: red;
    padding: 5px 10px; } }

@media (max-width: 767px) {
  .wiz-com-footer-social-lnk, .wiz-com-footer-wizni-logo {
    width: 100%;
    text-align: center; }
    .wiz-com-footer-social-lnk > ul:first-child > li.list-inline-item, .wiz-com-footer-wizni-logo > ul:first-child > li.list-inline-item {
      margin: 0px !important;
      display: block;
      text-align: center; }
  .wizni-logo {
    padding-bottom: 2rem;
    display: block; }
  .nav-link span.tm-txt {
    right: auto; } }
